<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/layout">
<head>
    <title>Stack Application - Ask a question</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <form class="form-narrow form-horizontal" method="post" th:action="@{ask}">
        <fieldset>
            <legend>Enter new question</legend>
            <div class="form-group">
                <label for="title" class="col-lg-2 control-label">Title</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="title" placeholder="Title" name="title"/>
                </div>
            </div>
            <div class="form-group">
                <label for="body" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="body" name="body"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Submit!</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>