<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Stack Application - [[${post.getTitle()}]]</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <table class="table table-bordered table-hover table-striped">
        <tbody>
        <tr>
            <td>[[${post.getTitle()}]]</td>
            <td>[[${post.getBody()}]]</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
