<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/layout">
<head>
    <title th:text="|Stack Application - ${post.getTitle()}|"></title>
</head>
<body>
<div layout:fragment="content" class="content">
    <div>
        <span class="title" th:text="${post.getTitle()}"></span>

        <div class="post">
            <a class="vote postUp glyphicon glyphicon-chevron-up" th:id="${post.getId()}" th:text="${post.getScore()}"></a>
            <textarea class="post" readonly="readonly" th:text="${post.getBody()}"></textarea>
            <span class="datetime" th:text="|Posted by ${post.getUser().getLogin()}, ${post.getCreationDate()}.|"></span>
        </div>

        <div class="comments">
                <table>
                    <tbody class="tcomm">
                    <tr th:each="comment : ${post.getComments()}">
                        <td>
                            <a th:id="${comment.getId()}" class="vote commUp glyphicon glyphicon-chevron-up" th:text="${comment.getScore()}"></a>
                        </td>
                        <td th:text="|${comment.getBody()} - ${comment.getUser().getLogin()}, on ${comment.getCreationDate()}|"></td>
                    </tr>
                    </tbody>
                </table>
                <h4>Leave a Comment:</h4>
                <form role="form" action="/comment/post" method="post">
                    <div class="form-group">
                        <input type="hidden" name="postid" th:value="${post.getId()}"/>
                        <textarea class="form-control" rows="3" required="required" name="body"></textarea>
                    </div>
                    <button type="submit" class="commBtn btn btn-success">Submit</button>
                </form>
        </div>

        <div id="answers">
            <div class="post" th:each="answer : ${post.getAnswers()}">
                <a th:id="${answer.getId()}" class="vote answUp glyphicon glyphicon-chevron-up" th:text="${answer.getScore()}"></a>
                <textarea class="post" readonly="readonly" th:text="${answer.getBody()}"></textarea>
                <span class="datetime" th:text="|Posted by ${answer.getUser().getLogin()}, ${answer.getCreationDate()}.|"></span>
                <div class="comments">
                    <table>
                        <tbody class="tcomm">
                        <tr th:each="comment : ${answer.getComments()}">
                            <td>
                                <a th:id="${comment.getId()}" class="vote commUp glyphicon glyphicon-chevron-up" th:text="${comment.getScore()}"></a>
                            </td>
                            <td th:text="|${comment.getBody()} - ${comment.getUser().getLogin()}, on ${comment.getCreationDate()}|"></td>
                        </tr>
                        </tbody>
                    </table>
                    <h4>Leave a Comment:</h4>
                    <form role="form" action="/comment/answer" method="post">
                        <div class="form-group">
                            <input type="hidden" name="answerid" th:value="${answer.getId()}"/>
                            <textarea class="form-control" rows="3" required="required" name="body"></textarea>
                        </div>
                        <button type="submit" class="commBtn btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="subAnswer">
            <h4>Sumbit an answer:</h4>
            <form role="form" action="/answer" method="post">
                <div class="form-group">
                    <input type="hidden" name="postid" th:value="${post.getId()}"/>
                    <textarea class="form-control" rows="3" required="required" name="body"></textarea>
                </div>
                <button type="submit" class="postBtn btn btn-success">Submit</button>
            </form>
        </div>

    </div>
</div>
</body>
</html>
