<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="home/layout">
<head>
    <title>Stack Application - [[${post.getTitle()}]]</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <div th:id="${post.getId()}">
        <span class="title">[[${post.getTitle()}]]</span>

        <div class="post">
            <a class="vote postUp glyphicon glyphicon-chevron-up">[[${post.getScore()}]]</a>
            <textarea class="post" readonly>[[${post.getBody()}]]</textarea>
            <span class="datetime">Posted by [[${post.getOwner().getDisplayName()}]], [[${post.getCreationDate()}]].</span>
        </div>

        <div class="comments">
                <table>
                    <tbody class="tcomm">
                    <tr th:each="comment : ${post.getCommentaries()}">
                        <td>
                            <a th:id="'com' + ${comment.getId()}" class="vote commUp glyphicon glyphicon-chevron-up">[[${comment.getScore()}]]</a>
                        </td>
                        <td th:text="${comment.getBody() + ' - ' + comment.getUsername() + ', on ' + comment.getCreationDate()}"></td>
                    </tr>
                    </tbody>
                </table>
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" required></textarea>
                    </div>
                    <button type="button" class="commBtn btn btn-success">Submit</button>
                </form>
        </div>

        <div id="answers">
            <div class="post" th:each="answer : ${post.getAnswers()}" th:id="${answer.getId()}">
                <a class="vote answUp glyphicon glyphicon-chevron-up">[[${answer.getScore()}]]</a>
                <textarea class="post" readonly>[[${answer.getBody()}]]</textarea>
                <span class="datetime">Posted by [[${answer.getOwner().getDisplayName()}]], [[${answer.getCreationDate()}]].</span>
                <div class="comments">
                    <table>
                        <tbody class="tcomm">
                        <tr th:each="comment : ${answer.getCommentaries()}">
                            <td>
                                <a th:id="'com' + ${comment.getId()}" class="vote commUp glyphicon glyphicon-chevron-up">[[${comment.getScore()}]]</a>
                            </td>
                            <td th:text="${comment.getBody() + ' - ' + comment.getUsername() + ', on ' + comment.getCreationDate()}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" required></textarea>
                        </div>
                        <button type="button" class="commBtn btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="subAnswer">
            <h4>Sumbit an answer:</h4>
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3" required></textarea>
                </div>
                <button type="button" class="postBtn btn btn-success">Submit</button>
            </form>
        </div>

    </div>
</div>
</body>
</html>
