<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Stack Application</title>
</head>
<body>
<div layout:fragment="content" class="content">
    <th:block th:if="${message != null}">
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#httpServletRequest.remoteUser})})">&nbsp;</div>
    </th:block>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <p>
        Welcome to the Spring MVC + Thymeleaf application!
    </p>
</div>
</body>
</html>