<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <title>Layout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css"  />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Stack Application</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${page == 'home' ? 'active' : ''}"><a href="#" th:href="@{/}">Home</a></li>
                <li th:classappend="${page == 'ask' ? 'active' : ''}"><a href="#" th:href="@{/ask}">Ask</a></li>
                <li th:classappend="${page == 'ask' ? 'active' : ''}"><a href="#" th:href="@{/me}">My questions</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:unless="${#httpServletRequest.remoteUser}"><a href="/login" th:href="@{/login}">Sign in</a></li>
                <li th:if="${#httpServletRequest.remoteUser}">Hello [[${#httpServletRequest.remoteUser}]]!</li>
                <li th:if="${#httpServletRequest.remoteUser}"><a href="/logout" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="content">Fake content</div>

<div class="footer">
   <span class="center">Grzegorz Rachel &copy; 2017</span>
</div>
</body>
</html>